[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-apt = {ref = "2.5.3", git = "https://salsa.debian.org/apt-team/python-apt.git"}
prometheus_client = "==0.18.0"
fastapi = "==0.104.1"
uvicorn = {version = "==0.25.0", extras = ["standard"]}

[dev-packages]
pylint = "==3.0.3"
pytest = "==7.4.3"
httpx = "==0.26.0"
