[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-apt = {ref = "2.5.3", git = "https://salsa.debian.org/apt-team/python-apt.git"}
prometheus_client = "==0.20.0"
fastapi = "==0.109.2"
uvicorn = {version = "==0.27.1", extras = ["standard"]}

[dev-packages]
pylint = "==3.0.3"
pytest = "==8.0.1"
httpx = "==0.26.0"
